<body>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">Cover</h3>
            <ul class="nav masthead-nav">
              <li class="active"><a href="/lastfm">Last.fm API</a></li>
              <li><a href="https://github.com/stefaniacardenas/cv">About me</a></li>
              <li><a href="https://github.com/stefaniacardenas">My Github</a></li>
            </ul>
          </div>
        </div>

        <div class="inner cover">
          <h1 class="cover-heading">My APIs practice page</h1>
          <p class="lead">This is a page that allows you to see the result of my practice with APIs. I hope you enjoy it! </p>
          <p class="lead">
            <a href="https://github.com/stefaniacardenas/LastFM-API" class="btn btn-lg btn-default">Learn more</a>
          </p>
        </div>

        <div class="mastfoot">
          <div class="inner">
          </div>
        </div>

      </div>

    </div>

  </div>

</body>