<html>
  <head>
    <title>My APIs</title>
     <link href="css/application.css" rel="stylesheet" type="text/css" />
  </head>

<body>
  <div class="navbar-container">
    <div class="navbar-list">
      <ul class="navbar-ul">
        <li><a href="/">My APIs</a></li>
        <li><a href="/lastfm">Last.fm API</a></li>
        <li><a href="https://github.com/stefaniacardenas/cv">About me</a></li>
        <li><a href="https://github.com/stefaniacardenas">My Github</a></li>
        </ul>
      </ul>
    </div>
  </div>

  <%= yield %>

  <script src='http://code.jquery.com/jquery-2.1.1.min.js'> </script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.js'> </script>
</body>
</html>